PG_HOST=localhost
PG_USER=postgres
PG_PASS=postgrespw
PG_DB=postgres

MARIA_HOST=localhost
MARIA_USER=root
MARIA_PASS=mariapw
MARIA_DB=mysql

MONGO_HOST=localhost
MONGO_USER=mongo
MONGO_PASS=mongopw
MONGO_DB=test