# PostgreSQL Database Configuration
POSTGRES_HOST=10.1.10.3
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres

# MongoDB Database Configuration (for future use)
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=

# MariaDB Database Configuration (for future use)
MARIADB_HOST=
MARIADB_PORT=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_DATABASE=

# SQLite Database Configuration (for future use)
SQLITE_DATABASE_PATH=