# PostgreSQL Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# MongoDB Database Configuration (for future use)
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=

# MariaDB Database Configuration (for future use)
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=

# SQLite Database Configuration (for future use)
SQLITE_DATABASE_PATH=